
* {
    box-sizing: border-box;
  }
  
  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  body {
    margin: 0;
    background-color: #333a48;
  }
  
  .main {
    position: relative;
    height: calc(100vh - 92px);
    width: 326px;
    margin: 0 auto;
  }
  
  .canvas {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #20262d;
  }
  
  .pixel {
    width: 40px;
    height: 40px;
    border: 1px solid #333a48;
    background-color: #ffffff;
    cursor: pointer;
  }
  